<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logdir" value="${basedir}/logs"/>
  <!--
  See http://nlog-project.org/wiki/Configuration_file
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <!-- add your targets here -->
    <target name="minlevelInfo" xsi:type="File" keepFileOpen="false" encoding="utf-8"
            fileName="${logdir}/${shortdate}.log"
            layout="${time} | ${callsite} | ${pad:padding=5:inner=${level:uppercase=true}} | ${message} "/>

    <target name="debugLog" xsi:type="File" keepFileOpen="false" encoding="utf-8"
            fileName="${logdir}/${level}/${logger}.log"
            layout="${time} | ${callsite} | ${message}" />
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" level="Debug" writeTo="debugLog"/>
    <logger name="*" minlevel="Info" writeTo="MinLevelInfo"/>
  </rules>
</nlog>